/***********************************************************/
/* General Stylings */

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

*::selection {
  background-color: black;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}
/***********************************************************/
/* Specific Stylings */

.header {
  padding: 3.75rem 1.25rem;
  padding-top: 3.75rem;
  text-align: center;
  background-color: lightgray;
  position: relative;
}

.header-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: " ✌️";
}

.nav-link {
  padding: 0.625rem;
  color: black;
}

.nav-link:hover {
  color: gray;
}

.nav-link:active {
  color: white;
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3.125rem;
}

.main > * {
  border-top: 0.0625rem solid black;
}

.main > *:first-child {
  border-top: none;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

.article-heading {
  position: relative;
  left: -1.25rem;
}

.hire-me {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  padding: 0.625rem;
  background-color: salmon;
  border: 0.0625rem solid red;
  border-radius: 0.0625rem;
  color: black;
}

/***********************************************************/
/* Media Queries */

@media screen and (min-width: 786px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }

  .navigation {
    display: none;
  }
}

@media screen and (min-width: 786px) {
  .main > * + * {
    margin-top: 4rem;
  }
}
