/***********************************************************/
/* General Stylings */

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

*::selection {
  background-color: black;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}
/***********************************************************/
/* Specific Stylings */

.header {
  padding: 50px 20px;
  text-align: center;
  background-color: lightgray;
}

.profession::after {
  content: " ✌️";
}

.nav-link {
  padding: 10px;
  color: black;
}

.nav-link:hover {
  color: gray;
}

.nav-link:active {
  color: white;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.main > * + * {
  margin-top: 50px;
}

.main > * {
  border-top: 1px solid black;
}

.main > *:first-child {
  border-top: none;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}